body {
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.add-btn {
    margin: auto;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 10px;
    border: 5px solid #e6e2d3;
    padding: 20px;
}


th, td {
    padding: 15px;
    /* border: 1px solid #ddd; */
}
th {
    /* background-color: #f4f4f4; */
    font-size: 1.1em;
    text-align: center;
}

td{
    text-align: center;
}


tr:nth-child(even) {
    background-color: #e6e2d3;
}

.actions button {
    /* background: none; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit, .save-changes{
    background: #008cba;
}  


.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.actions .edit, .add{
    color: #007bff;
    font-size: 1.5rem;
}
.actions .delete, .cancel{
    color: #dc3545;
    font-size: 1.5rem;
}

.actions .save-changes{
    font-size: 1.5rem;
}

.actions button:hover {
    opacity: 0.7;
}
